@import "~src/assets/scss/colors";

.layout-bg {
  width: 100%;
  height: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;
  animation: 1s ease-out 0s 1 animatedBackground;
}

.layout-main-wrapper {
  width: 100%;
  height: 300px;
}
