<div class="layout-bg d-flex align-items-center">
    <main class="layout-main-wrapper">
        <div class="container-xl d-flex flex-column h-100">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="text-center mb-4">
                    </div>
                </div>
            </div>
            <div class="p-1 bg-white flex-grow-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
</div>
