<div class="h-100 d-flex flex-column">
  <form class="example-form" [formGroup]="foodForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Ex. Juan"
        formControlName="foodname"
        name="foodname"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input
        matInput
        placeholder="Ex. sushi"
        formControlName="food"
        name="food"
      />
    </mat-form-field>
    <input type="submit" value="Save" />
  </form>
</div>
