<div class="h-100 d-flex flex-column">
  <form class="example-form" [formGroup]="group" (ngSubmit)="onSubmit()" >
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Ex. Juan" formControlName="name">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. sushi" formControlName="favFood">
      </mat-form-field>

      <button (click)="onSubmit()" >PRINT</button>
  </form>
</div>
